body {
  font-family: sans-serif;
  color: darkslategray;
}
.dogs {
  background-color: violet;
  display: flex;
  flex-wrap: wrap;
  /* height: 700px; */
}
.cats {
  background-color: salmon;
  display: flex;
  flex-wrap: wrap;
  /* height: 700px; */
}
img {
  width: 250px;
  height: 200px;
}
.animal {
  margin: 10px;
  padding: 10px;
  width: 250px;
  /* float: left; */
  background-color: white;
}

@media screen and (max-width: 850px) {
  h4 {
    color: #D40BF5;
  }  
}
@media screen and (max-width: 480px) {
  .animal {
    background-color: #f5f5bd;
  }
}
/* {
  border: 1px solid red;
}/